<div class="danzerpress-four-fifths danzerpress-col-center">
    {% include 'dp-sections/section-parts/content.twig' %}
    <a href="{{ layout.button_link_left }}" class="danzerpress-button-modern">{{ layout.button_text_left }}</a>
</div>