{% include 'dp-sections/section-parts/section_icon.twig' %}
<h2 class="danzerpress-title" style="margin-top: 0px; margin-bottom: 50px;">{{ layout.section_title }}</h2>
<div class="danzerpress-four-fifths danzerpress-col-center">
	{% include 'dp-sections/section-parts/icons/' ~ layout.icons_layout ~ '.twig' %}
	{% include 'dp-sections/section-parts/content-buttons.twig' %}
</div>