{% include 'dp-sections/section-parts/section_icon.twig' %}

{% include 'dp-sections/section-parts/content.twig' %}
<div class="danzerpress-four-fifths danzerpress-col-center">
	{% include 'dp-sections/section-parts/icons/' ~ layout.icons_layout ~ '.twig' %}
	{% include 'dp-sections/section-parts/content-buttons.twig' %}
</div>