<div class="danzerpress-flex-row">
	{% if (layout.image_or_video == 'image' or layout.image_or_video == 'video') %}
		{% include 'dp-sections/section-parts/image/media-content.twig' %}
	{% elseif (layout.image_or_video == 'longimage') %}
		{% include 'dp-sections/section-parts/image/long-image.twig' %}
	{% elseif (layout.image_or_video == 'code') %}
		{% include 'dp-sections/section-parts/image/code.twig' %}
	{% endif %}
</div>