{% include 'dp-sections/section-parts/section_icon.twig' %}
<div class="danzerpress-flex-row">
	<div class="danzerpress-two-thirds danzerpress-col-center" data-aos="fadeInUp">
		{% include 'dp-sections/section-parts/content.twig' %}
	</div>
</div>
{% include 'dp-sections/section-parts/content-buttons.twig' %}