{% include 'dp-sections/section-parts/section_icon.twig' %}
<div class="danzerpress-flex-row">
	<div class="danzerpress-two-thirds danzerpress-col-center wow fadeInUp" style="text-align: justify;">
		<h2 class="danzerpress-title">{{ layout.section_title }}</h2>
		<div>{{ layout.section_description }}</div>
	</div>
</div>
{% include 'dp-sections/section-parts/content-buttons.twig' %}