{% if layout.section_title %}
    {{dp.get_h_tag(layout.section_title)}}
{% endif %}

{% if layout.section_description %}
    <p class="danzerpress-section-description {{ extra_button_classes }}" data-aos="fadeIn">{{ layout.section_description }}</p>
{% endif %}