<div id="" class="danzerpress-one-third {{ dp.image_side(layout.image_side).order }}">
	{% include 'templates/dp-sections/section-parts/side-image.twig' %}
</div>
<div class="danzerpress-two-thirds danzerpress-flex-column danzerpress-justify-center">
	<h2 class="danzerpress-title" style="margin:0px;text-align:left;">{{ layout.section_title }}</h2>
	<div style="margin-bottom: 20px;">
		<p>{{ layout.section_description }}</p>
	</div>
	{% include 'templates/dp-sections/section-parts/content-buttons.twig' %}
</div>