<div class="danzerpress-two-thirds danzerpress-col-center danzerpress-align-center">
	{% include 'dp-sections/section-parts/section_icon.twig' %}
	<div class="danzerpress-section-content {{ layout.text_align }}">
		<h2 class="danzerpress-title wow fadeIn" style="">{{ layout.section_title }}</h2>
		<p class="danzerpress-hero-p wow fadeIn" style="font-size: 20px;">{{ layout.section_description }}</p>
		{% include 'dp-sections/section-parts/content-buttons.twig' %}
	</div>
</div>