<div class="danzerpress-two-thirds danzerpress-col-center danzerpress-align-center danzerpress-hero-normal">
	{% include 'dp-sections/section-parts/section_icon.twig' %}
	<div class="danzerpress-section-content {{ layout.text_align }}">
		{% include 'dp-sections/section-parts/content.twig' %}
		{% include 'dp-sections/section-parts/content-buttons.twig' %}
	</div>
</div>