<div class="danzerpress-col-1 danzerpress-col-center">
	<div class="danzerpress-flex-row danzerpress-row-fix">
		<div class="danzerpress-col-2 {{ dp.image_side(layout.image_side).order }}">

			{% if (layout.hero_layout != 3) %}
				{% include 'dp-sections/section-parts/side-image.twig' %}
			{% else %}
				{{ layout.custom_script }}
			{% endif %}

		</div>
		<div id="" class="danzerpress-col-2 danzerpress-flex-row">
			<div class="danzerpress-align-self">
				<h2 class="danzerpress-title wow fadeIn" style="text-align: left;">{{ layout.section_title }}</h2>
				<p class="danzerpress-content wow fadeIn" style="text-align: left;">{{ layout.section_description }}</p>
				
				{% include 'dp-sections/section-parts/content-buttons.twig' %} 
			</div>
		</div>
	</div>
</div>