.call-to-action-section {
    .danzerpress-title {
        margin-top: 0px;
        margin-bottom:15px
    }
    .danzerpress-description {
        font-size: 20px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }
    .danzerpress-four-fifths {
        text-align: center;
    }
}