.simple-gallery-section {
    .four-images {
        .danzerpress-section-description {
            text-align: center; 
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
    .portfolio {
        .danzerpress-title {
            margin-bottom: 40px;
        }
    }
    .simple-gallery {
        .danzerpress-section-description {
            text-align: center; 
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
}