/*Hero Section*/
.danzerpress-abs-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.danzerpress-parallax {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

.danzerpress-section {
    &.danzerpress-even {
        .danzerpress-half-content {
            background: $white;
        }
    }
    &.danzerpress-odd {
        .danzerpress-half-content {
            background: $light-grey;
        }
    }
    &.background-type-image.half-and-half,
    &.background-type-color.half-and-half {
        .danzerpress-half-content {
            background: rgba(0, 0, 0, 0.3);
        }
        .danzerpress-order-0 {
            border-right: 2px solid;
        }
        .danzerpress-order-1 {
            border-left: 2px solid;
        }
    }
    &.danzerpress-hero-section {
        .danzerpress-hero-normal {
            .danzerpress-section-description {
                font-size: 20px;
            }
        }
        .danzerpress-two-thirds {
            max-width: 650px;
        }
    }

    &.background-type-color, &.background-type-image {
        h1, h2, p, .danzerpress-button-modern-transparent {
            color: white;
        }
    }

    &.dp-full-height {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /*half and half section*/
    &.half-and-half {
        background: transparent;
        padding: 0px;
        .danzerpress-title {
            margin-top: 0px;
            margin-bottom: 20px; 
            margin-left: 0px;
        }
        .danzerpress-half-content {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            padding: 140px 0
        }
        .danzerpress-wrap, .danzerpress-flex-row {
            height: 100%;
        }
        .danzerpress-wrap {
            max-width: 100%;
            width: 100%;
        }
        .image-window {
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            min-height: 300px;
            position: relative;
            overflow: hidden;
            &.danzerpress-icon-fade {
                background: rgba(255, 255, 255, 0.47843137254901963);
            }
            .danzerpress-icon-img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .danzerpress-content {
            max-width: 70%;
            margin: auto;
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            flex: 1 0 auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .home {
        .half-and-half .danzerpress-order-0 {
            display: none !important;
        }
    }
    .danzerpress-section.half-and-half .danzerpress-col-2 {
        padding: 50px 0px !important;
    }
    div.half-and-half .danzerpress-content {
        max-width: 90%;
        padding: 0 15px;
    }
}