/*Hero Section*/
.danzerpress-hero-section {
    .danzerpress-two-thirds {
        max-width: 650px;
    }
}
.danzerpress-section.dp-full-height {
    height: 100vh;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(rgba(0,0,0,0.85), rgba(45,45,45,0.29));
    background: -webkit-linear-gradient(rgba(0,0,0,0.85), rgba(45,45,45,0.29));
    background: linear-gradient(rgba(0,0,0,0.85), rgba(45,45,45,0.29));
    display: flex;
    flex-direction: column;
}

/*half and half section*/
div.half-and-half {
    background: transparent;
    padding: 0px;
    .danzerpress-title {
        margin-top: 0px;
    }
    .danzerpress-wrap, .danzerpress-flex-row {
        height: 100%;
    }
    .danzerpress-wrap {
        max-width: 100%;
        width: 100%;
    }
    .parallax-window {
        position: relative;
        &.danzerpress-icon-fade {
            background: rgba(255, 255, 255, 0.47843137254901963);
        }
        .danzerpress-icon-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .danzerpress-content {
        max-width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    .half-and-half .danzerpress-order-0 {
        display: none !important;
    }
    .half-and-half .danzerpress-content {
        max-width: calc(100% - 60px);
    }
}