/*Image & Video Section*/
.danzerpress-image-wrap {
    box-shadow: 0 0.5625rem 2.8125rem 0 rgba(0, 0, 0, 0.15);
    line-height: 0px;
    overflow: hidden;
    border: 1px solid #201927;
    position: relative;
    width: 100%;
    padding-top: 65%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
.danzerpress-image-section {
    .danzerpress-title {
        margin: 0px;
    }
    .danzerpress-section-description {
        font-size: 18px;
    }
    .danzerpress-button-wrap, .danzerpress-section-description, .danzerpress-title {
        text-align: center;
    }
    .long-image-content {
        .danzerpress-section-description {
            margin-bottom: 20px;
        }
        .danzerpress-button-wrap, .danzerpress-section-description, .danzerpress-title {
            text-align: left;
        }
    }
}
.danzerpress-image-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}