/*Price Section*/
.danzerpress-price-section span.price {
    color: #ef7a03;
    font-weight: 700;
    font-size: 40px;
}
.danzerpress-price-section .danzerpress-button-modern {
    display: block;
    border-radius: 0;
}
.danzerpress-price-section .danzerpress-content-wrap {
    padding: 20px;
    background: white;
    overflow: hidden;
}