/*Price Section*/
.danzerpress-price-section {
    .danzerpress-title {
        margin-top: 0px; 
        margin-bottom: 40px;
    }
    .danzerpress-description {
        text-align:center;
    }
    .danzerpress-content-wrap {
        padding: 20px;
        background: white;
        overflow: hidden;
    }
    .danzerpress-button-modern {
        display: block;
        border-radius: 0;
    }
    span.price {
        color: #ef7a03;
        font-weight: 700;
        font-size: 40px;
    }
}