/**
* Team Member Section
*/
.team-section {
    .danzerpress-section-description {
        font-size: 19px;
        max-width: 900px;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }
}