/*Testimonial Section*/
.testimonial-section i.fa.fa-star {
    margin-right: 8px;
}
.testimonial-section p.stars {
    margin-bottom: 5px;
}
.testimonial-section img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    object-fit: cover;
}