<div class="danzerpress-two-thirds danzerpress-col-center simple-gallery">
	{% include 'dp-sections/section-parts/content.twig' %}
	{% if (layout.section_gallery) %}
		<div class="danzerpress-flex-row danzerpress-row-fix">
			{% for image in layout.section_gallery %}
				<div class="danzerpress-col-3 danzerpress-md-2 danzerpress-sm-2 danzepress-xs-2 wow slideInUp">
					<div class="danzerpress-image-wrap">
						<a data-fancybox="'simple-gallery-section-'{{ dp.get_iterator }}" href="{{ TimberImage(image.id).src }}">
							<img alt="Image for {{ post.title }}" src="{{TimberImage(image.id).src|resize(480)}}">
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% include 'dp-sections/section-parts/content-buttons.twig' %}
</div>