{% extends "templates/base.twig" %}

{% block body %}
    <div class="danzerpress-wrap">
        <div style="border-left: 2px solid red;margin-top: 40px;" class="danzerpress-box danzerpress-white danzerpress-shadow-2"><strong>No Danzerpress Sections Rendered</strong></div>
    </div>
{% endblock %}