<div class="danzerpress-flex-row">
	{% if (layout.section_layout == 'simplegallery') %}
		{% include 'templates/dp-sections/section-parts/gallery/simple-gallery.twig' %}
	{% elseif ( layout.section_layout == 'fourimages' ) %}
		{% include 'templates/dp-sections/section-parts/gallery/four-images.twig' %}
	{% elseif ( layout.section_layout == 'portfolio' ) %}
		{% include 'templates/dp-sections/section-parts/gallery/portfolio.twig' %}
	{% endif %}
</div>